In [1]:
#Task 1

message= "Durrez is {} and {}";

print(message.format("Refined", "Sociable"))

Durrez is Refined and Sociable

In [ ]:
#Task 2

str = "Durrez"

print(str.capitalize())
print(str.casefold())
print(str.count("s", 0, len(str)))

Durrez
durrez
0

In [ ]:
#Task 3

month = 8

days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
num_days = days_in_month[month - 1]

print("month", month ,"contains", num_days , "days")

month 8 contains 31 days

In [ ]:
#Task 4

eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003', 'March 29, 2006', 'August 1, 2008', 'July 22, 2009', 'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']
recent_dates = eclipse_dates[-3:]

print(recent_dates)

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [ ]:
#Task 5

students = {
    "Durrez": {
        "age": 21,
        "semester": "6th",
        "subjects": ["DS&A", "DS", "MAD"],
        "address": {
            "street": "*******",
            "city": "Hyderabad",
            "state": "Sindh",
            "zip": "*****"
        }
    },
    "Ghansham": {
        "age": 20,
        "semester": "6th",
        "subjects": ["DWH", "IS", "CPS"],
        "address": {
            "street": "********",
            "city": "Mithi",
            "state": "Sindh",
            "zip": "*****"
        }
    },
}

students["Durrez"]["semester"],
print("Durrez")
print(students)

Durrez
{'Durrez': {'age': 21, 'semester': '6th', 'subjects': ['DS&A', 'DS', 'MAD'], 'address': {'street': '1 Main St', 'city': 'Hyderabad', 'state': 'Sindh', 'zip': '69230'}}, 'Ghansham': {'age': 20, 'semester': '6th', 'subjects': ['DWH', 'IS', 'CPS'], 'address': {'street': '4 B St', 'city': 'Thatta', 'state': 'Sindh', 'zip': '852963'}}}