In [ ]:
#Task 1

points = 0
prize_name = ""

points = int(input("Enter your points: "))

if points > 1 and points <= 50:
  prize_name = "Wooden Rabbit"
elif points > 51 and points <= 150:
  prize_name = "No Prize"
elif points > 151 and points <= 180:
  prize_name = "Water-Thin Mint"
elif points > 181 and points <= 200:
  prize_name = "Penguin"

print("Your Prize Is:", prize_name)

Enter your points: 60
Your Prize Is: No Prize

In [ ]:
#Task 2

answer = 42
guess = int(input("Guess a number: "))

if guess < answer:
    result = "Oops! Your guess was too low."
elif guess > answer:
    result = "Oops! Your guess was too high."
else:
    result = "Nice! Your guess matched the answer!"
print(result)

Guess a number: 50
Oops! Your guess was too high.

In [ ]:
#Task 3

def calculate_tax(amount, state):
    tax_rates = {'CA': 0.075, 'MN': 0.095, 'NY': 0.089}

    if state in tax_rates:
        tax_rate = tax_rates[state]
        tax_amount = amount * tax_rate
        total_amount = amount + tax_amount
        return total_amount
    else:
        print("Invalid state entered.")
        return amount

purchase_amount = float(input("Enter the purchase amount: "))
state = input("Enter the state (CA, MN, or NY): ")

total_amount_with_tax = calculate_tax(purchase_amount, state)
print(f"Total amount with tax: ${total_amount_with_tax:.2f}")

Enter the purchase amount: 67
Enter the state (CA, MN, or NY): NY
Total amount with tax: $72.96

In [ ]:
#Task 4

sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

for word in sentence:
    print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [ ]:
#Task 5

for num in range(5, 31, 5):
    print(num, end=' ')

5 10 15 20 25 30

In [ ]:
#Task 6

 = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names = [name.split()[0].lower() for name in names]
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

In [ ]:
#Task 7

multiples_3 = [i * 3 for i in range(1, 21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [ ]:
#Task 8

scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
}

passed = [name for name, score in scores.items() if score >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [ ]:
#Task 9

cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]
cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [ ]:
#Task 10

cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for i, name in enumerate(cast):
    cast[i] = f"{name} {heights[i]}"

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']